.herro {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  // flex-wrap: wrap;
  margin: 30px 0;
  gap: 30px;

  &-info {
    width: 49%;

    h1 {
      font-family: Poppins;
      font-size: 60px;
      font-weight: 600;
      line-height: 72px;
      letter-spacing: -0.03em;
      text-align: left;
    }
    h2 {
      font-family: Poppins;
      font-size: 46px;
      font-weight: 600;
      line-height: 72px;
      letter-spacing: -0.03em;
      text-align: left;
      margin: 5px 0;

      span {
        color: #4db8ff;
      }
    }

    p {
      font-family: Poppins;
      font-size: 18px;
      font-weight: 500;
      line-height: 30px;
      text-align: left;
      margin-bottom: 30px;
    }

    a {
      font-family: Poppins;
      font-size: 16px;
      font-weight: 600;
      line-height: 17.04px;
      text-align: left;
      background: #fff;
      color: #4db8ff;
      padding: 10px 20px;
      border-radius: 10px;
      transition: all 0.7s ease;
      border: 2px solid #4db8ff;
      &:hover {
        color: #4db8ff;
        background-color: #000;
      }
    }
  }

  &-img {
    width: 40%;
    display: flex;

    animation: fadeInMove 2s ease-in-out; // Animatsiya qo'shildi

    img {
      width: 100%;
      margin: 0 auto;
      border-radius: 30px;
    }
  }
}

@media screen and (max-width: 768px) {
  .herro {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    flex-wrap: wrap;
    margin: 10px 0;
    gap: 30px;

    &-info {
      width: 100%;

      h1 {
        font-family: Poppins;
        font-size: 32px;
        font-weight: 400;
        line-height: 44.8px;
        text-align: center;
      }
      h2 {
        font-family: Poppins;
        font-size: 32px;
        font-weight: 400;
        line-height: 44.8px;
        text-align: center;
        margin: 5px 0;
      }

      p {
        font-family: Poppins;
        font-size: 18px;
        font-weight: 500;
        line-height: 30px;
        text-align: center;
        margin-bottom: 30px;
      }

      a {
        font-family: Poppins;
        font-size: 16px;
        font-weight: 600;
        line-height: 17.04px;
        text-align: center;
        width: 100%;
        display: block;
        background: #fff;
        color: #4db8ff;
        padding: 10px 20px;
        border-radius: 10px;
        transition: all 0.7s ease;
        border: 1px solid #4db8ff;
        &:hover {
          color: #4db8ff;
          background-color: #000;
        }
      }
    }

    &-img {
      width: 100%;
      display: flex;

      animation: fadeInMove 2s ease-in-out; // Animatsiya qo'shildi

      img {
        width: 100%;
        margin: 0 auto;
        border-radius: 30px;
      }
    }
  }
}
